extends ../../layout
block content
	.row
		.span1
			&nbsp;
		.span8
			div#posts
				table.table.table-striped.table-bordered.table-condensed
					thead
						tr
							th Título
							th Author
							th Creado Por
							th Fecha Publicación
							th
								span Editar
								span &nbsp;&nbsp;
								span Borrar
					tbody
						each post, i in posts
							tr
								td #{post.title}
								td #{post.author}
								td #{post.createdBy}
								td #{post.publishedAt}
								td
									a.btn(href="edit/" + "#{post.id}") Editar
									a.btn(href="delete/" + "#{post.id}") Borrar
				input(id="create",type="button",value="Crear",class="btn btn-large btn-primary")
block scripts
	script(type='text/javascript',src="/js/post.js")