#masonry.row.masonry(style='position: relative; height: 892px; overflow: hidden;')
	each post in posts
		#post-20.span4.col.masonry-brick(style='position: absolute; top: 0px; left: 0px;')
			h1
				a(href='/post/#{post.id}', data-original-title='') #{post.title}
			.meta
				em
					i.icon-calendar(data-original-title='')
					| Publicado el &nbsp;
				| #{post.publishedAtFormatted} &nbsp;
				em
				| by&nbsp;
				| #{post.author} &nbsp;
				a.comments-link(href='', data-original-title='#{post.title}') Sin comentarios aún
			.entry
				a.thumbnail.span2.imgPress(href='#{post.imageUrl}', data-original-title='Click para agrandar')
					img(src='#{post.imageUrl}')
				p
					| #{post.abstract}
			.postmetadata
				i.icon-tag(data-original-title='')
				| Posted in
				a(href='http://je-veux-un-job.com/theme/thepaper/?cat=1', rel='category', data-original-title='View all posts in Uncategorized') Uncategorized
				| |
				a(href='http://je-veux-un-job.com/theme/thepaper/?p=20#respond', data-original-title='Comment on Sit amet, consectetur adipiscing elit. Fusce nec enim mi, ut egestas mi') No Comments »